<div class="row">
  <div class="col-sm-2 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Deliveried</h3>
        <span>200</span>
      </div>
      <button class="tip-ico tip-ico-primary">
        <i class="fa fa-truck" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="col-sm-2 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Undelivered</h3>
        <span>20</span>
      </div>
      <button class="tip-ico tip-ico-info">
        <i class="fa fa-window-close-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="col-sm-2 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Attempted</h3>
        <span>10</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="col-sm-2 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Not Attempted</h3>
        <span>10</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fa fa-warning fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3 ">
      <div class="card card-block tip-card">
         
              <input type="text" class="form-control" id="searchstr" placeholder="Search..."/>
          
          <button class="btn btn-success">
            <i class="fa fa-search"></i>
          </button>
        </div>
     
     
    </div>
  <div class="col-md-12">
    <card  >
      <du-todolist></du-todolist>
    </card>
  </div>
   
  
</div>
